<div class="mainDiv">
  <div class="Heading">
    <h1 class="name">Emmanuel Mpwanga</h1>
  </div>
  <div class="content">
    <section class="contact">
      <p>Contact</p>
      <div [ngClass]="isDarkTheme? 'dark-theme': 'light-theme'">
        <p style="font-size: large;  margin-left: 150px; margin-right: 150px;"><mat-slide-toggle>Theme</mat-slide-toggle></p>
      </div>

      <div class="icon">
        <span>
          <a href=""><img src="../assets/4243303_basic_phone_app_ux_icon.png" alt="phone"></a>
        </span>
        <span>
          <a href=""><img src="../assets/287725_github_icon.png" alt="github"></a>
        </span>
        <span>
          <a href=""><img src="../assets/5279114_linkedin_network_social network_linkedin logo_icon (1).png" alt="linkedin"></a>
        </span>
        <span>
          <a href=""><img src="../assets/2135805_email_sign_at_icon.png" alt="email"></a>
        </span>
      </div>
    </section>
    <section class="body">
      <div class="summary">
        <div  style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Summary</p>
          <hr>
        </div>
        <p style="font-size: large;  margin-left: 150px; margin-right: 150px;">
          I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of your organization.
          Here mannympwanga (Emmanuel Mpwanga) (github.com) are programs in which I have worked on throughout my time at Hyperiondev and after I finished. The most challenging programs I faced was making Poised and Task Manger. I am a fast leaner I was able to leaner all the skills I have listed and create all those programs within 3 months which was the duration of my bootcamp at HyperionDev , I scored a 97% Overall . I am an aspiring Software Engineer who would love to grow and become one of the best.
        </p>
      </div>

      <div class="projects">
        <div  style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Projects</p>
          <hr>
        </div>
        <p></p>
        <div class="proj">
          <mat-card class="project">
            Task Manger
            <ul>
              <li>Python</li>
            </ul>
            <button mat-raised-button>
              To source code
            </button>
          </mat-card>
          <mat-card class="project">
            Task Manger
            <ul>
              <li>Python</li>
            </ul>
            <button mat-raised-button>
              To source code
            </button>
          </mat-card>
          <mat-card class="project">
            Task Manger
            <ul>
              <li>Python</li>
            </ul>
            <button mat-raised-button>
              To source code
            </button>
          </mat-card>
          <mat-card class="project">
            Task Manger
            <ul>
              <li>Python</li>
            </ul>
            <button mat-raised-button>
              To source code
            </button>
          </mat-card>
        </div>
      </div>

      <div class="skills">
        <div  style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Skills</p>
          <hr>
        </div>
        <div class="skillList">
          <ul >
            <li>Backend programming (python and Java)</li>
            <li>Frontend programming (Html, CSS, React, Django, Angular)</li>
            <li>Code Reviewing</li>
            <li>Agile</li>
          </ul>
        </div>
      </div>
    </section>

  </div>
</div>
